*{
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    background-color: rgb(217, 217,217);
    font-family: Zapf Chancery, cursive;
}

/*   Header   */

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.header h1 {
    display: inline-block;
    width: 80%;
    text-align: center;
}

.header, .footer{
    border-radius: 3px 3px 0 0;
    background-color: rgb(64,74,88);
    color: rgb(251, 99, 98);
    padding: 21px 1px 20px 0;
}

/*  Navbar   */

.navbar {
    overflow: hidden;
    background-color: rgb(251, 99, 98);
    display: inline-block;
    float: left;
    margin-left: 15px;
}

.navbar .itemMenu {
    text-align: center;
    padding: 5px 5px;
}

.dropbtn::after{
    content: '';
    border: 5px solid transparent;
    border-top: 5px solid white;
    display: inline-block;
    margin-left: 5px;
    width: 0;
    height: 0
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.dropdown:hover .dropbtn {
    background-color: darkred;
}

.navbar input[type=radio]~label:hover{
    color: darkred;
}

#dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(64,74,88);
    height: 200px;
    overflow: auto;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Show the dropdown menu on hover */
.dropdown:hover #dropdown-content {
    display: block;
}

.navbar input{
    position: absolute;
    left: -99999px;
}

.navbar label {
    color: white;
    margin-left: 10px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.navbar input[type=radio]:checked ~ label {
    color: rgb(251, 99, 98);
}

/*  Main  */

#news {
    margin-top: 110px;
    padding-bottom: 50px;
}

.bbc{
    font-style: italic;
    color: rgb(251, 99, 98);
}

.blockNews{
    position: relative;
    width: 85%;
    display: table;
    margin: 30px auto;
    padding: 10px 0 10px 10px;
    border-radius: 5px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.70);
    background-color: white;
    font-size: 0;
    clear: both;
}

.image {
    width: 25%;
    height: 20%;
    padding-right: 10px;
    float: left;
}

.blockDescription {
    vertical-align: top;
    margin-left: 26%
}

.title {
    color: rgb(64,74,88);
    font-size: 18px;
    padding-bottom: 10px;
}

.description{
    font-size: 16px;
    color: rgb(77,77,77);
    padding-bottom: 5px;
}

a {
    text-decoration: none;
}

.readMore{
    font-size: 16px;
    color: rgb(251, 99, 98);
}

.datePublish{
    position: absolute;
    right:10px;
    bottom: 10px;
    font-size: 14px;
    color: rgb(64,74,88);
}

.author{
    font-size: 14px;
    color: rgb(36, 41,49);
    padding-top: 10px;
    font-weight: bold;
}

/* Footer : todo sticky footer*/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
@media screen and (min-width: 800px) and (max-width : 1040px){
    .image {
        width: 35%;
        height: 30%;
    }
}

@media screen and (max-width : 800px) {
    .image {
        width: 100%;
        height: 100%;
    }

    .blockNews{
        display: flex;
        max-width: 70%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .blockDescription {
        padding-top: 10px;
        margin-left: 0;
    }

    .datePublish{
        position: relative;
        right: 0;
        bottom: 0;
    }

    .header h1{
       width: 60%;
    }
}


